/* imprtações */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* resets e váriáveis */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;;
}
:root{
    --raisin: #1A1B25;
    --Bsweet: #ED6A5A;
    --celtic: #226CE0;
    --Dpurple: #241623;
    --Sgreen: #27FB6B;
}
/* css geral */
body{
    background-color: var(--raisin);
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--celtic);
    padding: 0px 50px;
}
header .logo img{
    width: 10vw;
}
header .search-container input, #day-filter{
    padding: 10px;
    background-color: #1e5cc0;
    color: white;
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
}
header .search-container input{
    width: 40vw;
}
header .search-container input::placeholder{
    color: white;
}
/* novo exercício */
.new-exercise{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.informations{
    flex: 1;
    display: flex;
    padding-left: 50px;
}
.informations #close{
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
label{
    margin-right: 10px;
}
.informations input{
    margin-right: 10vw;
}
#series{
    margin-left: 50px;
}
select{
    margin-right: 10px;
}
.all-btns{
    margin: 4vh;
    background-color: var(--Sgreen);
    opacity: .9;
    color: var(--Dpurple);
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: .8s;
    cursor: pointer;
}
.all-btns:hover{
    opacity: 1;
}

/* container de exercícios */
.exercise-container{
    background-color: whitesmoke;
    min-height: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.exercise{
    background-color: var();
    display: flex;
    border: 1px solid var(--raisin);
    background-color: #8eb9ff;
    max-width: 1000px;
    justify-content: center;
    
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    box-shadow: 5px 5px 10px #00000069, 3px 3px 1px #97979783;
    border-radius: 5px;
}
.exercise p{
    margin-left: 10px;
    border: 3px solid #17448b;
    padding: 10px;
}
.exercise span{
    color: var(--Bsweet);
    text-shadow: 1px 1px 1px black;
}
.exercise .bi{
    background-color: var(--raisin);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .7;
    transition: .5s;
    cursor: pointer;
    user-select: none;
}
.exercise .bi:hover{
    opacity: 1;
}
/* classes para DOM */
.hide{
    display: none;
}